body {
    margin:0;
    font-family:Arial;
    background:#f2f2f2
}

header {
    background: #15317A;
    color: white;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    min-height: 60px;
}

nav {
    background:#fff;
    padding:15px 20px;
    border-bottom:1px solid #ddd
}

nav a {
    margin-right:15px;
    text-decoration:none;
    color:#15317A;
    font-weight:bold
}

nav a:hover {
    text-decoration:underline
}

.container {
    width:90%;
    max-width:1100px;
    margin:30px auto
}
/*_*/
.card {
    background:#fff;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 2px 8px rgba(0,0,0,.15)
}

.card input {
    width:100%;
    padding:10px;
    margin:5px 0 15px;
    border:1px solid #ccc;
    border-radius:5px
}

button {
    background:#15317A;
    color:#fff;border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer
}

button:hover {
    background:#3151a1
}

.remove {
    background:#b71813
}

.remove:hover {
    background:#c2413d
}
/*__*/
.property-card {
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.property-card h3 {
    margin-top: 10px;
}
.property-img {
    width: 100%;
    border-radius: 10px;
}
.property-card button {
    background: #15317A;
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}
.property-card button:hover {
    background: #3151a1;
}

.map {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;
}


/*Logo index*/
.header-index {
    justify-content: flex-start;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* outras páginas*/
.header-interna {
    justify-content: center; /* Centraliza o H1 */
    position: relative;     /* Permite posicionar o logo de forma absoluta */
}

.logo-fixa {
    position: absolute;
    left: 5%; /* Mantém o logo no canto esquerdo */
    height: 50px;  /* Ajuste o tamanho conforme sua logo */
}

.logo {
    height: 50px; /* Tamanho do logo no index */
}

/* Ajuste para o H1 não colidir com o logo em telas pequenas */
header h1 {
    margin: 0;
    font-size: 1.8rem;
}
